@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mike's Coffee Shop!</h1>
    <p><a href="/register" class="btn btn-primary">Register</a></p>
</div>
